{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grade Participants</title>
  <link rel="stylesheet" href="{% static '/css/grades.css' %}">
      <link rel="stylesheet" href="{% static '/css/footer.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</head>
<body>
<h2>Grade Participant: <h1 class="participant">"{{ participant.username }}"</h1></h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Grade</button>
</form>
    <footer class="footer">
        <p class="footer_copyright">
                        © Copyright 2023. Geeks By Steve Rebrand.
        </p>
    </footer>

 <script src="{%static '/js/edit-hackathon.js' %}" type="module"></script>
</body>
</html>
</html>