{#{% extends 'base.html' %}#}

{#{% block content %}#}
  <h1>Grade All Participants</h1>
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
      <thead>
        <tr>
          <th>Participant</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr>
            <td>{{ form.participant }}</td>
            <td>{{ form.grade }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit">Submit</button>
  </form>
{#{% endblock %}#}
