<form method="post" action="{% url 'grade_all_participants' hackathon_id=hackathon.id %}">
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
        {{ form.id }}
        <h3>{{ form.instance.participant.username }}</h3>

        <!-- Grade Field -->
        <div>
            <label for="{{ form.id }}-grade">Participant Grade:</label>
            {{ form.grade }}
        </div>

        <hr>
    {% endfor %}

    <button type="submit">Grade Participants</button>
</form>
