{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, 
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Geeks</title>
    <link rel="icon" type="image/png" href="{% static '/img/logo.svg' %}">
    <link  rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/loader.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "">
 <link rel="stylesheet" href="http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
</head>

<body>
    <!-- Loader Section -->
{#  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>#}
  <script src="{% static 'js/loader.js' %}"></script>
	<!-- Preloader -->
{#		<div id="preloader">#}
{#			<div id="container" class="container-preloader">#}
{#				<div class="animation-preloader">#}
{#					<!-- <div class="spinner"></div> -->#}
{#          <div class="loader">#}
{#            <svg width="648" height="391" viewBox="0 0 648 391" fill="none">#}
{#            <line y1="-2" x2="306.042" y2="-2" transform="matrix(0.455852 0.890056 -0.883987 0.467511 184.461 51)" stroke="#34A853" stroke-width="4" class="svg-elem-2"></line>#}
{#            <path d="M352.5 294.5V66.9187L556.639 294.5H352.5Z" fill="#66bb6a" stroke="#66bb6a" stroke-width="3" class="svg-elem-3"></path>#}
{#            <path d="M50.083 297L155.5 81.4147L260.917 297H50.083Z" fill="#bbb766" stroke="#bbb766" stroke-width="3" class="svg-elem-1"></path>#}
{#            <path d="M598.5 294.5V66.9187L394.361 294.5H598.5Z" fill="#bbb766" stroke="#bbb766" stroke-width="3" class="svg-elem-4"></path>#}
{#              </svg>#}
{#            </div>#}
{#					<div class="txt-loading">#}
{#						<span preloader-text="G" class="characters">G</span>#}
{##}
{#						<span preloader-text="E" class="characters">E</span>#}
{##}
{#						<span preloader-text="E" class="characters">E</span>#}
{##}
{#						<span preloader-text="K" class="characters">K</span>#}
{##}
{#						<span preloader-text="S" class="characters">S</span>#}
{##}
{#						<!-- <span preloader-text="E" class="characters">E</span>#}
{##}
{#						<span preloader-text="V" class="characters">V</span> -->#}
{#					</div>#}
{#				</div>#}
{#				<div class="loader-section section-left"></div>#}
{#				<div class="loader-section section-right"></div>#}
{#			</div>#}
{#		</div>#}

    <div class="container" >
        <header>
            <nav class="header__nav w-120">
                <div class="header__logo">
                   <a href="/"> <img src="{% static '/img/logo2.png' %}" alt="Logo"></a>
                </div>
                <div class="header__nav__content">
                    <div class="nav-close-icon"></div>
                    <ul class="header__menu">
                        <li class="menu__item">
                            <a href="/" class="menu__link active">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="#about" class="menu__link">About</a>
                        </li>
                        <li class="menu__item">
                            <a href="{% url 'last:members' %}" class="menu__link">Members</a>
                        </li>
                        <li class="menu__item">
                            <a href="#team" class="menu__link">Team</a>
                        </li>
                        <li class="menu__item">
                            <a href="#contact" class="menu__link">Contact</a>
                        </li>
                     <li class="menu__item">
                            <a href="{% url 'last:dashboard' %}" class="menu__link">Dashboard</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="menu__item">
                            <a href="{% url 'last:profile' user.id %}">profile</a>
                        </li>
                        {% endif %}
                        <li class="menu__item">
{#                            <a href="{% url 'last:hackathons' %}" class="menu__link">Hackathons</a>#}
                        </li>
                    </ul>
                    <div class="header__signup">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'last:logout' %}" class="btn btn__signup">
                            <i class="fas fa-user-plus"></i> Logout
                        </a>
                        {% else %}
                        <a href="{% url 'last:register' %}" class="btn btn__signup">
                            <i class="fas fa-user-plus"></i> Sign Up
                        </a>
                        {% endif %}
                    </div>
                </div>

                <div class="hamburger-menu-wrap">
                    <div class="hamburger-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </nav>
        </header>
        {% if request.user.is_authenticated %}
        <div class="user_link">
        <h1>Hi  <a href="{% url 'last:profile' user.id %}">{{ request.user.username }}</a> </h1>
        </div>
        {% endif %}
    
{##}
{#    <a href="{% url 'last:profile' user.id %}">profile</a>#}
{#    <!-- <a href="{% url 'last:members' %}">members</a>  -->#}


    
        <section class="hero w-120">
            <div class="hero__content">
                <div class="hero__text">
                    <h1 class="hero__title">The Best Place to Learn And Build Websites</h1>
                    <p class="hero__description">
                        Geeks is small community of developers, who team up to learn and 
                        build Websites. But that said we don't just limit ourselves to 
                        web development the programming world is wide and with a lot of 
                        things to learn, we hope that you will learn something new here.
                    </p>
                    <a href="{% url 'last:register' %}" class="btn btn__hero">Join Now</a>
                </div>
                <div class="hero__img">
                    <img src="{% static '\img\hero.png' %}" alt="">
                </div>
            </div>
        </section>

        <section id="about" class="opportunities">
            <div class="opportunities__img">
                <img src="{% static '/img/laptop.png' %}" alt="">
            </div>
            <div class="opportunities__content w-105">
                <div class="opportunities__head">
                    <h2 class="opportunities__title">Know Geeks</h2>
                    <p class="opportunities__description">Think of 
                        Geeks as a portfolio of a small group of 
                        passionate developers. Here you can see 
                        some of the projects that the team has done 
                        and connect with people who share similar 
                        passion to build your skills.
                    </p>
                </div>
                <div class="opportunities__body">
                    <div class="opportunity">
                        <img src="{% static '/img/opportunites/iconone.svg' %}" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">Connect with other programmers</h4>
                        <p class="opportunity__description">
                            Join our vibrant community of like-minded programmers. Share ideas, collaborate on projects, and expand your network.
                            Whether you're a beginner or an experienced coder, connect with fellow geeks to enhance your coding journey.                        </p>
                    </div>

                    <div class="opportunity active">
                        <img src="{% static '/img/opportunites/iconthree.svg' %}" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">We can Build your Websites</h4>
                        <p class="opportunity__description">
                        Need a website? Leave the coding to us!
                        Our experienced team of developers is ready
                        to bring your vision to life. From personal
                        portfolios to e-commerce sites, we've got
                        the expertise to design and build websites
                        tailored to your needs.                        </p>
                    </div>
                    <div class="opportunity">
                        <img src="{% static '/img/opportunites/iconfour.svg' %}" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">Geek Hackathons
                        </h4>
                        <p class="opportunity__description">
                         Dive into the world of innovation with
                         our Geek Hackathons. Test your coding skills,
                         tackle exciting challenges, and compete with
                         fellow geeks. Whether you're a seasoned coder
                         or a beginner, our hackathons provide a fun
                         and collaborative environment to push your limits
                        and create something amazing.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="invest  w-105">
            <div class="invest__content">
                <div class="invest__head">
                    <h2 class="invest__title">Join and Advertise Hackathons  <span class="edit"> <a href="{% url 'last:add-hackathon' %}"><i class="fa-solid fa-plus fa-beat-fade"></i></a></span> </h2>
                    <p class="invest__description">Below are some Hackathons that
                        you can join and compete with others. The competitions are 
                        meant to help you build and improve your skills. The 
                        competitors will be graded according to how they 
                        have performed. </p>
                </div>
                <div class="invest__body">
                      {% for hackathon in hackathons %}
                    <div class="invest__item"  style="background-image: url('{{ hackathon.image.url}}'); opacity: 0.7;" >
                        <div class="invest__item__head">
                            <h5 class="invest__item__subtitle">{{ hackathon.created|truncatewords:4 }}</h5>
                        </div>
                        <div class="invest__item__body">
                            <h4 class="invest__item__title">{{ hackathon.name }} Hackathon</h4>
                            <p class="invest__item_description">
                                {{ hackathon.theme|truncatewords:15 }}
                            </p>
                        </div>
                        <div class="invest__item__footer">
                            <a href="{% url 'last:hackathon_details' hackathon.id %}" class="btn btn__invest">Join Now</a>
{#                            <a class="btn btn__invest">Join Now</a>#}
                        </div>
                    <div class="base_edit">
                             {% if user == hackathon.founder %}
                                        <a href="{% url 'last:update-hackathon' hackathon_id=hackathon.id %}">
                                    <i class="fa-solid fa-pen"></i>
                                        </a>
                                    {% endif %}
                                    {% if user == hackathon.founder %}
                                        <a href="{% url 'last:delete_hackathon' hackathon_id=hackathon.id %}">
                                    <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                        </div>
                    </div>
                          {% empty %}
                    <div class="empty">
                    <img src="{% static '/img/inbox.png'%}" alt="Logo">
                    </div>
                     {% endfor %}

{#                    <div class="invest__item">#}
{#                        <div class="invest__item__head">#}
{#                            <h5 class="invest__item__subtitle">1st Jan-2023</h5>#}
{#                        </div>#}
{#                        <div class="invest__item__body">#}
{#                            <h4 class="invest__item__title">Reserve Room</h4>#}
{#                            <p class="invest__item_description">#}
{#                                The Website allows you to reserve a hotel room prior#}
{#                                to your travel.Saving you of the hustle.#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="invest__item__footer">#}
{#                            <a href="#" class="btn btn__invest">Join Now</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="invest__item">#}
{#                        <div class="invest__item__head">#}
{#                            <h5 class="invest__item__subtitle">3rd Feb-2023</h5>#}
{#                        </div>#}
{#                        <div class="invest__item__body">#}
{#                            <h4 class="invest__item__title">Study Manager#}
{#                            </h4>#}
{#                            <p class="invest__item_description">#}
{#                                The website is meant to make learning easy and fun,#}
{#                                helping you manage your progress.It's also meant to#}
{#                                keep students on track.#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="invest__item__footer">#}
{#                            <a href="#" class="btn btn__invest">Join Now</a>#}
{#                        </div>#}
{#                    </div>#}
                </div>

            </div>
        </section>
      <div class="more_link">
                <a class="more_link" href="{% url 'last:all_hackathons' %}">View All Hackathons</a>
        </div>

        <section class="invest  w-105">
            <div class="invest__content">
                <div class="invest__head">
                    <h2 class="invest__title">Some of Geeks Team Projects  <span class="edit"> <a href="{% url 'last:add-project' %}"><i class="fa-solid fa-plus fa-beat-fade"></i></a></span>   </h2>
                    <p class="invest__description">Below are some of the collaborative 
                        projects that the team members have done some are hosted live 
                        while others are not. Because of the costa of hosting projects 
                        come with but check them out and you can contact us for any info 
                        on what we should improve or have done better.  </p>
                </div>
                <div class="invest__body">
                    {% for project in project %}
                    <div class="invest__item"  style="background-image: url('{{ project.image.url}}'); opacity: 0.7;" >
                        <div class="invest__item__head">
                            <h5 class="invest__item__subtitle">{{ project.created_at }}</h5>
                        </div>
                        <div class="invest__item__body">
                            <h4 class="invest__item__title">{{ project.title }}</h4>
                            <p class="invest__item_description">
                                {{ project.description|truncatewords:20 }}
                            </p>
                        </div>
                        <div class="invest__item__footer">
                            <a href="{{ project.link }}" class="btn btn__invest">Check It Out</a>
                        </div>
                    <div class="base_edit">
                               {% if user == project.user %}
                                        <a href="{% url 'last:project_detail' project_id=project.id %}">
                                    <i class="fa-solid fa-pen"></i>
                                        </a>
                                    {% endif %}
                                   {% if user == project.user %}
                                        <a href="{% url 'last:delete_project' project_id=project.id %}">
                                    <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                        </div>
                    </div>
                        {% empty %}
                    <div class="empty">
                    <img src="{% static '/img/man.png'%}" alt="Logo">
                    </div>
                {% endfor %}


                </div>

            </div>

        </section>
        <div class="more_link">
                <a  href="{% url 'last:all_projects' %}">View All Projects</a>
        </div>


        <section id="team" class="testimonials">
            <div class="testimonials__content">
                <div class="testimonials__head w-105">
                    <img src="{% static '/img/quote.svg' %}" alt="Quote" class="testimonials__quote">
                    <h2 class="testimonials__title">Know the Genius Team behind This Incredible Group</h2>
                </div>
                <div class="testimonials__body">
                    <div class="testimonials__list">
                        {% for team in geeksTeam %}
                        <div class="testimonial">
                            <div class="testimonial__profile">
                                <div class="testimonial__img">
                                    <img src="{{ team.avatar.url }}" alt="Testimonial">
                                </div>
                                <div class="testimonial__info">
                                    <h4 class="testimonial__name"> <a href="{%  url 'last:profile' user.pk %}" class="testimonial__name">{{ team.user_name }} </a> </h4>
                                    <h4 class="testimonial__title"> {{ team.user_tag }} </h4>
                                </div>
                            </div>
                            <p class="testimonial__description">
                                “ {{ team.description }} “
                            </p>
                        </div>
                            {% empty %}
                    <div class="empty">
                    <img src="{% static '/img/inbox.png'%}" alt="Logo">
                    </div>
                        {% endfor %}
{#                        <div class="testimonial">#}
{#                            <div class="testimonial__profile">#}
{#                                <div class="testimonial__img">#}
{#                                    <img src="{% static '/img/testimonials/2.png' %}" alt="Testimonial">#}
{#                                </div>#}
{#                                <div class="testimonial__info">#}
{#                                    <h4 class="testimonial__name"> Ilone Pickford</h4>#}
{#                                    <h4 class="testimonial__title">Head of Agrogofund Groups</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="testimonial__description">#}
{#                                “ Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, “#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="testimonial">#}
{#                            <div class="testimonial__profile">#}
{#                                <div class="testimonial__img">#}
{#                                    <img src="{% static '/img/testimonials/3.png'%}" alt="Testimonial">#}
{#                                </div>#}
{#                                <div class="testimonial__info">#}
{#                                    <h4 class="testimonial__name"> John Doe</h4>#}
{#                                    <h4 class="testimonial__title">Software Engineer</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="testimonial__description">#}
{#                                “ At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium “#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="testimonial">#}
{#                            <div class="testimonial__profile">#}
{#                                <div class="testimonial__img">#}
{#                                    <img src="{% static '/img/testimonials/2.png' %}" alt="Testimonial">#}
{#                                </div>#}
{#                                <div class="testimonial__info">#}
{#                                    <h4 class="testimonial__name"> Ilone Pickford</h4>#}
{#                                    <h4 class="testimonial__title">Head of Agrogofund Groups</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="testimonial__description">#}
{#                                “ Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, “#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="testimonial">#}
{#                            <div class="testimonial__profile">#}
{#                                <div class="testimonial__img">#}
{#                                    <img src="{% static '/img/testimonials/1.png' %}" alt="Testimonial">#}
{#                                </div>#}
{#                                <div class="testimonial__info">#}
{#                                    <h4 class="testimonial__name"> Fernando Soler</h4>#}
{#                                    <h4 class="testimonial__title">Telecommunication Engineer</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="testimonial__description">#}
{#                                “ Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, “#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="testimonial">#}
{#                            <div class="testimonial__profile">#}
{#                                <div class="testimonial__img">#}
{#                                    <img src="{% static '/img/testimonials/2.png'%}" alt="Testimonial">#}
{#                                </div>#}
{#                                <div class="testimonial__info">#}
{#                                    <h4 class="testimonial__name"> Ilone Pickford</h4>#}
{#                                    <h4 class="testimonial__title">Head of Agrogofund Groups</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="testimonial__description">#}
{#                                “ Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, “#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="testimonial">#}
{#                            <div class="testimonial__profile">#}
{#                                <div class="testimonial__img">#}
{#                                    <img src="{% static '/img/testimonials/3.png' %}" alt="Testimonial">#}
{#                                </div>#}
{#                                <div class="testimonial__info">#}
{#                                    <h4 class="testimonial__name"> John Doe</h4>#}
{#                                    <h4 class="testimonial__title">Software Engineer</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="testimonial__description">#}
{#                                “ At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium “#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="testimonial">#}
{#                            <div class="testimonial__profile">#}
{#                                <div class="testimonial__img">#}
{#                                    <img src="{% static '/img/testimonials/2.png' %}" alt="Testimonial">#}
{#                                </div>#}
{#                                <div class="testimonial__info">#}
{#                                    <h4 class="testimonial__name"> Ilone Pickford</h4>#}
{#                                    <h4 class="testimonial__title">Head of Agrogofund Groups</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="testimonial__description">#}
{#                                “ Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, “#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="testimonial">#}
{#                            <div class="testimonial__profile">#}
{#                                <div class="testimonial__img">#}
{#                                    <img src="{% static '/img/testimonials/3.png' %}" alt="Testimonial">#}
{#                                </div>#}
{#                                <div class="testimonial__info">#}
{#                                    <h4 class="testimonial__name"> John Doe</h4>#}
{#                                    <h4 class="testimonial__title">Software Engineer</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <p class="testimonial__description">#}
{#                                “ At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium “#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <div class="testimonials__footer  w-105">
                    <div class="testimonials__directions">
                        <button class="btn__testimonials btn__testimonials__prev disable">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button class="btn__testimonials btn__testimonials__next">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="how-is-works w-120">
            <div class="works__content">
                <div class="works__head">
                    <h2 class="works__title">The Team Goals</h2>
                    <p class="works__description">
                        To nurture innovation, skills and overall 
                        superior expertise good for the development 
                        market through engaging in many activities 
                        like building market level projects. But we are aware 
                        that tech is now diverse and we also have to 
                        adapt by building several skills.
                    </p>
                </div>
                <div class="works__body">
                    <ul class="form_progressbar">
                        <li class="progressbar__step active" data-step="1">01</li>
                        <li class="progressbar__step" data-step="2">02</li>
                        <li class="progressbar__step" data-step="3">03</li>
                        <li class="progressbar__step" data-step="4">04</li>
                    </ul>
                </div>
                <div class="works__footer">
                    <div class="works__step__content first_step">
                        <h3 class="works__step_title"> Frontend development and Modern CSS and UI design </h3>
                        <p class="works__step_description">
                           Frontend development is a critical part of web development, it 
                           is the part that users interact with the most and everyone 
                           likes something unique something that strikes the eye. Their 
                           are many languages used in building UIs and knowing how to use 
                           them to come up with website that look as good as the design is necessary 
                        </p>
                    </div>
                    <div class="works__step__content">
                        <h3 class="works__step_title"> Backend Development and data manipulation.</h3>
                        <p class="works__step_description">
                            Their is no question that a website with a good UI also needs a good backend, 
                            this is like the engine of the websites. One needs to know how to manipulate 
                            data and secure their sites.
                        </p>
                    </div>
                    <div class="works__step__content">
                        <h3 class="works__step_title">API Integration and Use</h3>
                        <p class="works__step_description">
                            Knowing how to integrate APIs in your Websites or Apps is 
                            also an integral skill that saves people time and also boosts 
                            efficiency. APIs are many and now virtually every website comes 
                            with one, its up to you to know how to use them and integrate them with your project. 
                        </p>
                    </div>
                    <div class="works__step__content">
                        <h3 class="works__step_title">Deployment And Web Management</h3>
                        <p class="works__step_description">
                            If you want people to be able to access you website you need to deploy it to an online 
                            server and a database. Once deployed you still need to maintain it and keep it up to date, 
                            and also fix the bugs whenever they occur.
                        </p>
                    </div>
                </div>
            </div>


        </section>

        <section class="farm-invest w-105">
            <h2 class="farm-invest__title">Be Sure to Join <span>Geeks Team</span> so that We can Learn and Practice Together.</h2>
            <a href="{% url 'last:register' %}" class="btn btn__farm--invest">Sign up Now</a>

        </section>

        <footer id="contact" class="footer">
            <div class="footer__body w-105">
                <nav class="footer__nav">
                    <ul class="footer_nav__menu">
                        <li class="footer_nav__item">
                            <h4 class="footer_nav__menu__title">COMPANY</h4>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">About Us</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Team</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Careers</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Contact</a>
                        </li>
                    </ul>
                    <ul class="footer_nav__menu">
                        <li class="footer_nav__item">
                            <h4 class="footer_nav__menu__title">INVEST</h4>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Features</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">How it works</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Pricing</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Login</a>
                        </li>
                    </ul>
                    <ul class="footer_nav__menu">
                        <li class="footer_nav__item">
                            <h4 class="footer_nav__menu__title">LEGAL</h4>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Privacy</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Terms</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Security</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__contact">
                    <h2 class="footer__contact__title">Geeks Team</h2>
                    <span>Write to us an E-mail</span>
                    <form action="">
                        <input  type="text" name="name" placeholder="Enter Name">
                        <input   type="email" name="email" placeholder="Enter Email">
                        <textarea class="form-input"  name="message" id="" cols="30" rows="10" placeholder="Enter Message"></textarea>
                        <a href="#" class="btn btn__signin">
                            <i class="fas fa-paper-plane"></i> Send
                        </a>
                    </form>
                <small>Phone: 0757838398</small>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom__content w-105">
                    <div class="footer__logo">
                        <img src="{% static '/img/logo.png' %}" alt="Logo">
                    </div>
                    <p class="footer_copyright">
                        © Copyright 2023. Geeks By Steve Rebrand.
                    </p>
                </div>
                <img src="{% static '/img/down.png' %}" alt="Down" class="footer_img">
            </div>
        </footer>
    </div>

    <script src="{%static '/js/main.js' %}" type="module"></script>

</body>

</html>