{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, 
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Hackathons</title>
    <link rel="icon" type="image/png" href="{% static '/img/logo.svg'%}">
    <link rel="stylesheet" href="{% static '/css/hackathons.css'%}">
    <link  rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/main.css'%}">
</head>

<body>
    <div class="container">
        <header>
            <nav class="header__nav w-120">
                <div class="header__logo">
                   <a href="/"> <img src="{% static '/img/logo2.png' %}" alt="Logo"></a>
                </div>
                <div class="header__nav__content">
                    <div class="nav-close-icon"></div>
                    <ul class="header__menu">
                        <li class="menu__item">
                            <a href="/" class="menu__link active">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="#participants" class="menu__link">Participants</a>
                        </li>
                        <li class="menu__item">
                            <a href="#projects" class="menu__link">Geeks Projects</a>
                        </li>
                        <!-- <li class="menu__item">
                            <a href="#" class="menu__link">Team</a>
                        </li> -->
                        <li class="menu__item">
                            <a href="#contact3" class="menu__link">Contact</a>
                        </li>
                         <li class="menu__item">
                            <a href="{% url 'last:dashboard' %}" class="menu__link">Dashboard</a>
                        </li>
                    </ul>
                    <div class="header__signup">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'last:logout' %}" class="btn btn__signup">
                            <i class="fas fa-user-plus"></i> Logout
                        </a>
                        {% else %}
                        <a href="{% url 'last:register' %}" class="btn btn__signup">
                            <i class="fas fa-user-plus"></i> Sign Up
                        </a>
                        {% endif %}
                    </div>
                </div>

                <div class="hamburger-menu-wrap">
                    <div class="hamburger-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </nav>
        </header>

        <section class="heading">
            <h1 class="title"> <span>{{ hackathon.name }} </span> Hackathon</h1>
            <div class="description">
            <div>
                <h1>Theme</h1>
                <p>{{ hackathon.theme }}</p>
            </div>
            <h1>Prize</h1>
                <p>{{ hackathon.prize }}</p>
                <div class="time">
                <small>{{ hackathon.start_date }}<p style="color: darkred">to</p>  {{ hackathon.end_date }}</small> <br>
                <small class="location">{{ hackathon.location }}</small>
                </div>
            </div>

           <div class="requirements__section">
            <div class="requirements__header">
                <h1>Below Are The Requirements</h1>
            </div>
                <div class="requirements">
                {{ hackathon.rules }}
            </div>
           </div>
                 <div class="edit_hackathon">
                             {% if user == hackathon.founder %}
                                        <a href="{% url 'last:update-hackathon' hackathon_id=hackathon.id %}">
                                    <i class="fa-solid fa-pen"></i>
                                        </a>
                                    {% endif %}
                                    {% if user == hackathon.founder %}
                                        <a href="{% url 'last:update-hackathon' hackathon_id=hackathon.id %}">
                                    <i class="fa-regular fa-trash-can"></i>
                                        </a>
{#                                    <a href="{% url 'last:grade_all_participants' hackathon_id=hackathon_id %}">Grade All Participants</a>#}
                                    {% endif %}
                        </div>
        </section>
<div class="center_content">
    {% if request.user in participants %}
        <p class="title"> You are already a participant of this <span>"{{ hackathon.name }}" </span>.</p>
    {% else %}
        <a  href="{% url 'last:join_hackathon' hackathon.id %}">Join Hackathon</a>
    {% endif %}
        </div>
        <section id="participants" class="users">
            <div class="users__content">
                <div class="users__head w-105">
                    <img src="{% static '/img/quote.svg'%}" alt="Quote" class="users__quote">
                    <h2 class="users__title">The <span class="overline"> {{ hackathon.name }}</span>  participants</h2>
                </div>
                <div class="users__body">
                    <div class="user__list">
                        {% for participant  in participants %}
                        <div class="user">
                            <div class="user__profile">
                                <div class="user__img">
                                    <img src="{{ participant.avatar.url}}" alt="{{ participant.username }}'s profile">
                                </div>
                                <div class="user__info">
                                    <h4 class="user__name"> <a href="{% url 'last:profile' participant.id %}">{{ participant.username }}</a></h4>
                                    <h4 class="user__title">{{ participant.tag }} </h4>
                                </div>
                            </div>
                            <div class="user__description">
                            {% for grade in grades %}
                                {% if grade.participant == participant %}
                                <div class="grade">
                                    <p>{{ grade.grade|floatformat:0  }}%</p>
                                </div>
                                {% endif %}

                            {% endfor %}

                            </div>
                             <div class="edit">
                                    {% if participant == request.user %}
                                        <a href="{% url 'last:edit-profile' %}">
                                    <i class="fa-solid fa-pen"></i>
                                        </a>
                                    {% endif %}
                                    {%  if participant == request.user %}
                                        <a href="{% url 'last:delete_profile' user_id=user.id %}">
                                    <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                                </div>
                        {% if request.user == hackathon.founder %}
                            <div class="container_grade">
                                <a href="{% url 'last:grade_participant' hackathon_id=hackathon.id participant_id=participant.id %}">Grade Participant</a>
                            </div>
            {% endif %}
                        </div>

                        {% empty %}
                    <div class="empty">
                    <img src="{% static '/img/inbox.png'%}" alt="Logo">
                    </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
            {% if request.user == hackathon.founder %}
            <div class="center_content gradep" style="margin: auto;width: 12em">
                <a href="{% url 'last:grade_all_participants' hackathon_id=hackathon.id %}">Grade All Participants</a>
            </div>
            {% endif %}
            <div class="center_content graded" style="margin: auto;width: 12em">
                <a href="{% url 'last:download_hackathon_report' hackathon.id %}" download>Download Grades</a>
            </div>
        <section  class="opportunities">
            <div class="opportunities__img">
                <img src="{% static '/img/laptop.png'%}" alt="">
            </div>
            <div class="opportunities__content w-105">
                <div class="opportunities__head">
                    <h2 class="opportunities__title">Know Geeks</h2>
                    <p class="opportunities__description">Think of 
                        Geeks as a portfolio of a small group of 
                        passionate developers. Here you can see 
                        some of the projects that the team has done 
                        and connect with people who share similar 
                        passion to build your skills.
                    </p>
                </div>
                <div class="opportunities__body">
                    <div class="opportunity">
                        <img src="{% static '/img/opportunites/iconone.svg' %}" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">Connect with other programmers</h4>
                        <p class="opportunity__description">
                            Join our vibrant community of like-minded programmers. Share ideas, collaborate on projects, and expand your network.
                            Whether you're a beginner or an experienced coder, connect with fellow geeks to enhance your coding journey.                        </p>
                    </div>

                    <div class="opportunity active">
                        <img src="{% static '/img/opportunites/iconthree.svg' %}" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">We can Build your Websites</h4>
                        <p class="opportunity__description">
                        Need a website? Leave the coding to us!
                        Our experienced team of developers is ready
                        to bring your vision to life. From personal
                        portfolios to e-commerce sites, we've got
                        the expertise to design and build websites
                        tailored to your needs.                        </p>
                    </div>
                    <div class="opportunity">
                        <img src="{% static '/img/opportunites/iconfour.svg' %}" alt="Icon" class="opportunity__icon">
                        <h4 class="opportunity__title">Geek Hackathons
                        </h4>
                        <p class="opportunity__description">
                         Dive into the world of innovation with
                         our Geek Hackathons. Test your coding skills,
                         tackle exciting challenges, and compete with
                         fellow geeks. Whether you're a seasoned coder
                         or a beginner, our hackathons provide a fun
                         and collaborative environment to push your limits
                        and create something amazing.
                        </p>
                    </div>
                </div>
            </div>
        </section>
            <section class="invest  w-105">
            <div class="invest__content">
                <div class="invest__head">
                    <h2 class="invest__title">Some of Geeks Team Projects  <span class="edit"> <a href="{% url 'last:add-project' %}"><i class="fa-solid fa-plus fa-beat-fade"></i></a></span>   </h2>
                    <p class="invest__description">Below are some of the collaborative
                        projects that the team members have done some are hosted live
                        while others are not. Because of the costa of hosting projects
                        come with but check them out and you can contact us for any info
                        on what we should improve or have done better.  </p>
                </div>
                <div class="invest__body">
                    {% for project in project %}
                    <div class="invest__item"  style="background-image: url('{{ project.image.url}}'); opacity: 0.7;" >
                        <div class="invest__item__head">
                            <h5 class="invest__item__subtitle">{{ project.created_at }}</h5>
                        </div>
                        <div class="invest__item__body">
                            <h4 class="invest__item__title">{{ project.title }}</h4>
                            <p class="invest__item_description">
                                {{ project.description|truncatewords:20 }}
                            </p>
                        </div>
                        <div class="invest__item__footer">
                            <a href="{{ project.link }}" class="btn btn__invest">Check It Out</a>
                        </div>
                    <div class="base_edit">
                               {% if user == project.user %}
                                        <a href="{% url 'last:project_detail' project_id=project.id %}">
                                    <i class="fa-solid fa-pen"></i>
                                        </a>
                                    {% endif %}
                                   {% if user == project.user %}
                                        <a href="{% url 'last:delete_project' project_id=project.id %}">
                                    <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                        </div>
                    </div>
                        {% empty %}
                    <div class="empty">
                    <img src="{% static '/img/man.png'%}" alt="Logo">
                    </div>
                {% endfor %}


                </div>
            </div>
        </section>


   
<section class="invest  w-105">
            <div class="invest__content">
                <div class="invest__head">
                    <h2 class="invest__title">Join and Advertise Hackathons  <span class="edit"> <a href="{% url 'last:add-hackathon' %}"><i class="fa-solid fa-plus fa-beat-fade"></i></a></span> </h2>
                    <p class="invest__description">Below are some Hackathons that
                        you can join and compete with others. The competitions are
                        meant to help you build and improve your skills. The
                        competitors will be graded according to how they
                        have performed. </p>
                </div>
                <div class="invest__body">
                      {% for hackathon in hackathons %}
                    <div class="invest__item"  style="background-image: url('{{ hackathon.image.url}}'); opacity: 0.7;" >
                        <div class="invest__item__head">
                            <h5 class="invest__item__subtitle">{{ hackathon.created }}</h5>
                        </div>
                        <div class="invest__item__body">
                            <h4 class="invest__item__title">{{ hackathon.name }} Hackathon</h4>
                            <p class="invest__item_description">
                                {{ hackathon.theme|truncatewords:15 }}
                            </p>
                        </div>
                        <div class="invest__item__footer">
                            <a href="{% url 'last:hackathon_details' hackathon.id %}" class="btn btn__invest">Join Now</a>
{#                            <a class="btn btn__invest">Join Now</a>#}
                        </div>
                    <div class="base_edit">
                             {% if user == hackathon.founder %}
                                        <a href="{% url 'last:update-hackathon' hackathon_id=hackathon.id %}">
                                    <i class="fa-solid fa-pen"></i>
                                        </a>
                                    {% endif %}
                                    {% if user == hackathon.founder %}
                                        <a href="{% url 'last:delete_hackathon' hackathon_id=hackathon.id %}">
                                    <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                        </div>
                    </div>
                          {% empty %}
                    <div class="empty">
                    <img src="{% static '/img/inbox.png'%}" alt="Logo">
                    </div>
                     {% endfor %}
                </div>
            </div>
        </section>
       
        <footer id="contact3" class="footer">
            <div class="footer__body w-105">
                <nav class="footer__nav">
                    <ul class="footer_nav__menu">
                        <li class="footer_nav__item">
                            <h4 class="footer_nav__menu__title">COMPANY</h4>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">About Us</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Team</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Careers</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Contact</a>
                        </li>
                    </ul>
                    <ul class="footer_nav__menu">
                        <li class="footer_nav__item">
                            <h4 class="footer_nav__menu__title">INVEST</h4>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Features</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">How it works</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Pricing</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Login</a>
                        </li>
                    </ul>
                    <ul class="footer_nav__menu">
                        <li class="footer_nav__item">
                            <h4 class="footer_nav__menu__title">LEGAL</h4>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Privacy</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Terms</a>
                        </li>
                        <li class="footer_nav__item">
                            <a href="#" class="footer_nav__link">Security</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__contact">
                    <h5 class="footer__contact__title">Geeks Team</h5>
                    <span>Write email to us</span>
                    <form action="">
                        <input type="text" name="name" placeholder="Enter Name">
                        <input type="email" name="email" placeholder="Enter Email">
                        <textarea name="message" id="" cols="30" rows="10" placeholder="Enter Message"></textarea>
                        <a href="#" class="btn btn__signin">
                            <i class="fas fa-paper-plane"></i> Send
                        </a>
                    </form>   
                <small>Phone: 0757838398</small>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom__content w-105">
                    <div class="footer__logo">
                        <img src="{% static '/img/logo.png'%}" alt="Logo">
                    </div>
                    <p class="footer_copyright">
                        © Copyright 2023. Geeks By Steve Rebrand.
                    </p>
                </div>
                <img src="{% static '/img/down.png'%}" alt="Down" class="footer_img">
            </div>
        </footer>
    </div>
    <script src="{% static '/js/main.js'%}" type="module"></script>

</body>

</html>