/** {*/
/*	box-sizing: border-box;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/

body {
	background: height:100%; overflow-x: hidden;}
.text{color:brown;font-size:220px;text-align:center;}
/*.open{color:green;background:#bbb566;padding:10px;border-radius:20px;}*/

/* Preloader */
.container-preloader {
	align-items:center; cursor:none; display:flex; height:100%;
  justify-content:center; position:fixed; left:0; top:0; width:100%; z-index:900;
}
.container-preloader .animation-preloader {
	position:absolute; z-index: 100;}
  .loader {
    text-align: center;
    transform: scale(0.4, 0.4)
  }
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 693px;
      stroke-dasharray: 693px;
    }

    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 693px;
    }
  }

  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }

    100% {
      fill: #bbb766;
    }
  }

  .svg-elem-1 {
    animation: animate-svg-stroke-1 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite,
                 animate-svg-fill-1 1.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s infinite;
  }

  @keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 308px;
      stroke-dasharray: 308px;
    }

    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 308px;
    }
  }

  .svg-elem-2 {
    animation: animate-svg-stroke-2 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s infinite,
                 animate-svg-fill-2 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s infinite;
  }

  @keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 739px;
      stroke-dasharray: 739px;
    }

    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 739px;
    }
  }

  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }

    100% {
      fill: #66bb6a;
    }
  }

  .svg-elem-3 {
    animation: animate-svg-stroke-3 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s infinite,
                 animate-svg-fill-3 1.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1s infinite;
  }

  @keyframes animate-svg-stroke-4 {
    0% {
      stroke-dashoffset: 739px;
      stroke-dasharray: 739px;
    }

    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 739px;
    }
  }

  @keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }

    100% {
      fill: #fafa6e;
    }
  }

  .svg-elem-4 {
    animation: animate-svg-stroke-4 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s infinite,
                 animate-svg-fill-4 1.8s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s infinite;
  }
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;  border: 10px solid rgba(146, 1, 1, 0.2);
  border-top-color: rgb(0, 126, 128); /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;  margin: 0 auto 3.5em auto; width: 9em;
}
/* Loading text */
.container-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Jazz LET ', fantasy;
  letter-spacing: -1px;
	text-align: center;	user-select: none;
}
.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite;  color: #bbb466;
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .characters {
	color: rgba(0, 0, 0, 0.2);	position: relative;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
.container-preloader .loader-section {
  background-color: #ffffff;  height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
@keyframes spinner {
to {
	transform: rotateZ(360deg);
}}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner Loading */
	.container-preloader .animation-preloader .spinner {
	height: 8em;
	width: 8em;
	}
	/* Text Loading */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Jazz LET ', fantasy;
	}}
@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner Loading */
	.container-preloader .animation-preloader .spinner {
	height: 7em;
	width: 7em;
	}
	/*Loading text */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Jazz LET ', fantasy;
	}}
.origin{text-decoration:none;
font-size:45px;}